<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:/Users/User/Desktop/warner-bros-mockup/css/style.css" type="text/css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="C:/Users/User/Desktop/warner-bros-mockup/js/main.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid container-head-mobile">
    <div class="navbar-header">
      <a class="navbar-brand nav-left head-mobile" href="C:/Users/User/Desktop/warner-bros-mockup/templates/home.html">Temple on the rock</a>
    </div>
    <ul class="nav navbar-nav">
      
       <li class=" hide-in-bigscreen ">
        <ul class="">
          <li style="display:inline-block;"><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/albums.html" style="color: white;">Albums</a> <a href="C:/Users/User/Desktop/warner-bros-mockup/templates/merchandise.html" style="color: white;">Merchandise</a></li>
          <li style="display:inline-block;"><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/tour.html" style="color: white;">Tour</a><span class="mobile-nav-spac"></span><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/about.html" style="color: white;">About</a></li><br>
         
        </ul>
      </li>
      <li class="hide-in-smallscreen"><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/albums.html" style="color: white;">Albums</a></li>

      
      
      <li class="hide-in-smallscreen"><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/tour.html" style="color: white;">Tour</a></li>
      <li class="hide-in-smallscreen"><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/merchandise.html" style="color: white;">Merchandise</a></li>
      <li class="hide-in-smallscreen"><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/about.html" style="color: white;">The band</a></li>
    </ul>
    
  </div>
</nav>

<section class="intro">
    <row >
      <div class="col-lg-6 col-sm-12 left"> <! –– ––>
      <div class="h1-space"></div>
        <h1 class="intro-h1">
          SENSATIONAL LIVE <br>TOUR
          <br>
          <button class="button button1"><h3 style="color:white; font-weight: 700;"><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/tour.html" style="color:white;">Tour</a></h3></button>
        </h1>
      </div>
      <div class="col-lg-6 col-sm-12 right">
        <h1 class="intro-h1">
          READ ABOUT THE <br>BAND
          <br>
          <button class="button button1"><h3 style="color:white; font-weight: 700;"><a href="C:/Users/User/Desktop/warner-bros-mockup/templates/about.html" style="color:white;">About us</a></h3></button>
        </h1>
      </div>
    </row>
  </section>





<div class=" section2 " >


<div class="row" >
    <div class="mobile-2-rows">
    <div class="col-sm-1 seven-rows-images col-smalldevice-5 img-1" style="
 background-image:url(C:/Users/User/Desktop/warner-bros-mockup/images/pic-1.png); background-size: cover;"></div><! –– ––>
    <img class="five-stars-reviews " src="C:/Users/User/Desktop/warner-bros-mockup/images/5-star-reviews.PNG" 
    style="position: absolute;left: 215px; top: 1340px; height: 125px;"
></img>
<div class="hidden-review" ><p class="review-1 " >"very creative album, worth the wait" <br> john</p></div>   <! –– ––>
    <div class="col-sm-1 seven-rows-images col-smalldevice-5" style="background-image:url(C:/Users/User/Desktop/warner-bros-mockup/images/pic-2.png); background-size: cover;"></div>
    <img class="five-stars-reviews " src="C:/Users/User/Desktop/warner-bros-mockup/images/5-star-reviews.PNG" 
    style="position: absolute;left: 215px; top: 1640px; height: 125px;"
></img>
<div class="hidden-review" ><p class="review-2 " style="position: absolute;left: 200px;top: 1780px;">"very creative album, worth the wait" <br> john</p></div>
    </div class="mobile-2-rows"> <! –– ––>
    <div class="col-sm-1 seven-rows-images col-smalldevice-5" style="background-image:url(C:/Users/User/Desktop/warner-bros-mockup/images/pic-3.png); background-size: cover;"></div>
    <img class="five-stars-reviews " src="C:/Users/User/Desktop/warner-bros-mockup/images/5-star-reviews.PNG" 
    style="position: absolute;left: 215px; top: 1940px; height: 125px;"
></img>
<div class="hidden-review" ><p class="review-3 " style="position: absolute;left: 200px;top: 2080px;">"very creative album, worth the wait" <br> john</p></div>
    <div class="col-sm-1 seven-rows-images col-smalldevice-5" style="background-image:url(C:/Users/User/Desktop/warner-bros-mockup/images/pic-4-1.png); background-size: cover;"></div>
    <img class="five-stars-reviews " src="C:/Users/User/Desktop/warner-bros-mockup/images/5-star-reviews.PNG" 
    style="position: absolute;left: 215px; top: 2220px; height: 125px;"
></img>
<div class="hidden-review" ><p class="review-4 " style="position: absolute;left: 200px;top: 2350px;">"very creative album, worth the wait" <br> john</p></div>
    <div class="mobile-2-rows">
    <div class="col-sm-1 seven-rows-images col-smalldevice-5" style="background-image:url(C:/Users/User/Desktop/warner-bros-mockup/images/pic-5.png); background-size: cover;"></div>
    <img class="five-stars-reviews " src="C:/Users/User/Desktop/warner-bros-mockup/images/5-star-reviews.PNG" 
    style="position: absolute;left: 215px; top: 2510px; height: 125px;"
></img>
<div class="hidden-review" ><p class="review-5 " style="position: absolute;left: 200px;top: 2650px;">"very creative album, worth the wait" <br> john</p></div>
    <div class="col-sm-1 seven-rows-images col-smalldevice-5" style="background-image:url(C:/Users/User/Desktop/warner-bros-mockup/images/pic-7.png); background-size: cover; "></div>
    <img class="five-stars-reviews " src="C:/Users/User/Desktop/warner-bros-mockup/images/5-star-reviews.PNG" 
    style="position: absolute;left: 215px; top: 2800px; height: 125px;"
></img>
<div class="hidden-review" ><p class="review-6 " style="position: absolute;left: 200px;top: 2940px;">"very creative album, worth the wait" <br> john</p></div>
    </div>
  </div>
</div>
</div>
</div>


<section class="intro " >
    <row>
    
      <div class="col-lg-6 col-sm-12 left-3rd-section"> <! –– ––>
      
        <p style="color:white; font-size:25px; text-align: center; text-shadow: 2px 2px black;">
         <span class="tour"> Tour</span> <br>From San Francisco to London, <br>the upcoming tour will be a showstopper.
        </p>
      </div>
      <div class="col-lg-6 col-sm-12  right-3rd-section ">
  <div class="image cut 3rd-section-img-1">  <! –– ––>
    <img src="C:/Users/User/Desktop/warner-bros-mockup/images/pic-10.jpg" />
  </div>
  <div class="image cut 3rd-section-img-2">
  
    <img src="C:/Users/User/Desktop/warner-bros-mockup/images/pic-12.jpg" />
  </div>
  <div class="image cut 3rd-section-img-3">
    <img src="C:/Users/User/Desktop/warner-bros-mockup/images/pic-14.png" />
  </div>
  <div class="image cut 3rd-section-img-4">
    <img src="C:/Users/User/Desktop/warner-bros-mockup/images/pic-11.jpg" />
  </div>
</div>
     
    </row>
</section>




<section>

<div class="three-img-div section4 home-mobile" > <! –– ––>
<p class="" style="font-size:30px; font-family: montserrat; font-weight: 600;">The band</p>
<div class="row">
    
    <div id="event-dom-name"onmouseover="mOver(this)" onmouseout="mOut(this)" class="col-sm-4 three-rows-images three-rows-images-pic1 img-responsive" style=""></div>  <! –– ––>
    <div id="event-dom-name-2"onmouseover="mOver2(this)" onmouseout="mOut(this)" class="col-sm-4 three-rows-images three-rows-images-pic2 img-responsive" style=""></div>
    <div id="event-dom-name-3"onmouseover="mOver3(this)" onmouseout="mOut(this)" class="col-sm-4 three-rows-images three-rows-images-pic3 img-responsive" style=""></div>
    
  </div>
</div>
</div>
</div>

</section>

<footer class="footer-mobile home-footer"> <! –– ––>
<div class="container" >
<div class="row">
<div class="column column-footer">

  <p>Contact information: <a href="">band@example.com</a>.</p>


</div>
</div>
</div>
</footer>
</body>
</html>